extends ../layouts/default

block content
  .row
    .col-sm-6
      +staff-selector(staff)
    .col-sm-6
      +time-range-selector()
  .row
    .col-xs-12
      != svg
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
