extends ../layouts/default

block content
  //- +staff-selector(staff)
  //- +time-range-selector()
  div(class="row")
    //- div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/gantt")
            h3(class="panel-title") Gantt
        div(class="panel-body")
          a(href="/gantt")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/employee-count")
            h3(class="panel-title") Employee count
        div(class="panel-body")
          a(href="/employee-count")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/percentage")
            h3(class="panel-title") % of time per project
        div(class="panel-body")
          a(href="/percentage")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/total-hours-company")
            h3(class="panel-title") Total hours company-wide
        div(class="panel-body")
          a(href="/total-hours-company")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
  div(class="row")
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/total-hours-all-projects")
            h3(class="panel-title") Total hours for all projects
        div(class="panel-body")
          a(href="/total-hours-all-projects")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/total-hours-all-people")
            h3(class="panel-title") Total hours for all people
        div(class="panel-body")
          a(href="/total-hours-all-people")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          a(href="/total-hours-by-project")
            h3(class="panel-title") Total hours by project
        div(class="panel-body")
          a(href="/total-hours-by-project")
            img(src="/images/chart.png").img-responsive
          | Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
