extends ../layouts/default

block content
  h1 Total Hours By Project
  p.lead Track the total work remaining and project the likelihood of achieving the sprint goal. This helps your team manage its progress and respond accordingly.
  form.form-inline
    +project-selector(selectedProject, projects)
    +time-range-selector(selectedTimeRange, timeRanges)
    button.btn.btn-default(type="submit") Apply
  .row
    .col-xs-12
      != svg
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
