extends ../layouts/default

block content
  h1 Total hours per project over time
  p.lead A line graph showing the total hours logged per project over time. This helps visualize activity and inactivity of specific projects.
  form.form-inline
    +project-selector(selectedProject, projects)
    +time-range-selector(selectedTimeRange, timeRanges)
    +include-weekends(includeWeekends)
    button.btn.btn-default(type="submit") Apply
  .row
    .col-xs-12
      != svg
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
