extends ../layouts/default

block content
  h1 Total hours company-wide over time
  p.lead A line graph that shows the total number of hours logged across all employees. This helps predict future invoice hours.
  form.form-inline
    +time-range-selector(selectedTimeRange, timeRanges)
    +include-weekends(includeWeekends)
    button.btn.btn-default(type="submit") Apply
  .row
    .col-xs-12
      != svg
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
