include ../mixins/flash-messages
include ../mixins/staff-selector
include ../mixins/time-range-selector

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description", content="")
    title= title || "Verys | BigTime Viz"
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="/styles/application.css", rel="stylesheet")
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
    block css
    block head
  body
    include ../partials/navbar.pug
    .container-fluid
      .row
        //- .col-sm-3.col-md-2.sidebar
        //-   include ../partials/sidebar.pug
        //- .col-sm-offset-3.col-md-10.col-md-offset-2
        .col-sm-12.main
          block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js')
    script(src='/js/application.js')
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
    block js
