extends ../layouts/default

block content
  h1 Gantt
  p.lead Some description...
  form.form-inline
    +staff-selector(selectedStaff, staff)
    +time-range-selector(selectedTimeRange, timeRanges)
    button.btn.btn-default(type="submit") Apply
  .row
    .col-xs-12
      != svg
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
