extends ../layouts/app.pug

block title
  title Home

block content
  div(class="row")
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Gantt
        div(class="panel-body")
          | Panel content
          i(class="fa fa-line-chart" aria-hidden="true")
          i(class="fa fa-pie-chart" aria-hidden="true")
          i(class="fa fa-bar-chart" aria-hidden="true")
          i(class="fa fa-area-chart" aria-hidden="true")
          i(class="fa fa-signal" aria-hidden="true")
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") % of time per project
        div(class="panel-body") Panel content
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Total hours logged across all people and all projects
        div(class="panel-body") Panel content
  div(class="row")
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Total hours logged by project
        div(class="panel-body") Panel content
    div(class="col-sm-4")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title") Total hours logged by all people
        div(class="panel-body") Panel content
  //- div(class="input-group input-daterange")
  //-   input(type="text" class="form-control" value="2012-04-05")
  //-   span(class="input-group-addon") to
  //-   input(type="text" class="form-control" value="2012-04-19")
  div(id="demo")