extends ../layouts/app.pug

block title
  title Home

block content
  div(class="input-group input-daterange")
    input(type="text" class="form-control" value="2012-04-05")
    span(class="input-group-addon") to
    input(type="text" class="form-control" value="2012-04-19")