mixin time-range-selector(selectedTimeRange, timeRanges)
  .form-group
    label.sr-only(for="time-range") Time range
    select#time-range.form-control(name="time-range")
      each timeRange in timeRanges
        option(value=timeRange.value selected=timeRange.value === selectedTimeRange disabled=timeRange.disabled)= timeRange.key
