ul.nav.nav-sidebar
  li.active
    a(href='#') Gantt
  li
    a(href='#') % of time per project
  li
    a(href='#') Total hours logged across all people and all projects
  li
    a(href='#') Total hours logged by project
  li
    a(href='#') Total hours logged by all people