$fa-font-path: "../fonts/font-awesome"
$font-size-base: 14px

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "../../node_modules/font-awesome/scss/font-awesome"
@import "site/variables"
@import "site/layout"
@import "site/dashboard"

a
  color: #5cb200
  
  &:hover
    color: #81bd41
    
.panel-heading

  a
    color: black
    
    &:hover
      color: black

.line
  fill: none
  stroke: black
  stroke-width: 2px
  
.dot
  fill: black
  
  &:hover
    fill: #5cb200
    
.grid

  line
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  
.bar
  fill: black
  
  &:hover
    fill: #5cb200
    
.overlay
  fill: none
  pointer-events: all
    
.panel

  .panel-body

    .img-responsive
      margin: 0 auto
      
svg
  display: block
  margin: 0 auto

.navbar-inverse

  .navbar-brand
    color: white
    padding: 10px
    display: flex
    align-items: center

    img
      height: 100%
      width: auto
      margin-right: 10px
