$fa-font-path: "../fonts/font-awesome"
$font-size-base: 14px

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"
@import "../../node_modules/font-awesome/scss/font-awesome"
@import "site/variables"
@import "site/layout"
@import "site/dashboard"

.line
  fill: none
  stroke: steelblue
  stroke-width: 2px
  
.bar
  fill: steelblue
  
  &:hover
    fill: tomato
    
.panel

  .panel-body

    .img-responsive
      margin: 0 auto
      
svg
  display: block
  margin: 0 auto
